/* General Styles */
.text-center {
    text-align: center;
    margin: auto;
}

.kachel {
    position: relative;
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}

.kachel:hover, .neue-veranstaltung-kachel:hover, .neue-veranstaltungstermin-kachel:hover, .neue-gruppenarbeit-kachel:hover, .teilnehmer-item-liste:hover, .teilnehmer-item-gruppe:hover{
    background-color: lightblue;
}

.kachel-content {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    visibility: hidden;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    visibility: hidden;
}

.kachel-active {
    background-color: #4682B4;
}

/* Plus Symbol */
.plus-symbol {
    font-size: 40px;
    text-align: center;
    margin: auto;
}

/* Specific Kachel Styles */
.neue-veranstaltung-kachel, .neue-veranstaltungstermin-kachel, .neue-gruppenarbeit-kachel {
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

/* Line with Text */
.line-before {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
    margin-top: 15px;
    margin-right: -8px;
}

.line-after {
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 15px;
    margin-left: -8px;
}

.line-with-text {
    width: 100%;
    align-items: center;
}

.line-after-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
    margin-top: 24px;
    margin-right: -8px;
}

/* Title Styles */
.veranstaltung-title {
    font-size: 28px;
}

/* Container Styles */
.veranstaltungen-container, .gruppenarbeiten-container {
    display: flex;
    flex-wrap: wrap;
}

/* Added by Lilli */
.gruppen-container-gruppenarbeiten {
    display: flex;
    flex-wrap: wrap;
}

.gruppen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.kachel-gruppen {
    width: 200px;
    border: 1px solid var(--lumo-contrast-20pct);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.teilnehmer-item-gruppe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 16px;
}

.teilnehmer-item-liste {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    border-radius: 16px;
}

.profilbild {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}

.teilnehmer-name-gruppe {
    font-size: 15px;
}

.teilnehmer-name-liste {
    font-size: 16px;
    margin-left: -16px;;
}

.termin-datum {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 0.8em;
}

.termin-notiz {
    text-align: center;
    margin-top: 6px;
}

.termin-zeit {
    font-size: 0.8em;
    text-align: right;
    margin-right: -5px;
    margin-top: 8px;
}

.teilnehmer-liste {
    position: absolute;
    right: 25px;
    top: 8%;
    height: 87.5%;
    overflow-y: auto;
    width: 300px;
    padding: 1em;
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    top: 150px;
    height: 82vh;
}

.left-container {
    flex-grow: 1;
    overflow: auto;
}

.right-container {
    width: 320px; /* adjust as needed */
}

.auswertung-button {
    background-color: #ff7f7f;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Added by Lilli */
.gruppen-gruppenarbeit {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

/*Addes by Lilli*/
.gruppen-gruppenarbeit-title {
    padding-bottom: 10px;
}

.logo-button :hover {
    background-color: var(--lumo-contrast-5pct);
}

.nav-list a:any-link {
    text-decoration: none;
    padding: 0 var(--lumo-space-s);
    border-radius: var(--lumo-border-radius-m);
    outline: 0;
}

.nav-list a:hover {
    color: var(--lumo-header-text-color);
    background-color: var(--lumo-contrast-5pct);
}

.nav-list a:active {
    background-color: var(--lumo-contrast-5pct);
}

.nav-list a:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

.nav-list a[highlight] vaadin-icon {
    color: var(--lumo-primary-text-color);
}

.nav-list a[highlight] {
    background-color: var(--lumo-primary-color-10pct);
}

/*Added bi Lilli*/
.warning-text-delete {
    font-size: 13pt;
    text-align: center;
}

/*Added by Lilli*/
.no-return-text-delete {
    font-size: 14pt;
    font-weight: bold;
    color: red;
    text-align: center;
}