/* General Styles */
.text-center {
    text-align: center;
    margin: auto;
}

.kachel {
    position: relative;
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}

.kachel:hover, .neue-veranstaltung-kachel:hover, .neue-gruppenarbeit-kachel:hover {
    background-color: lightblue;
}

.kachel-content {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    visibility: hidden;
}

.kachel-active {
    background-color: #4682B4;
}

/* Plus Symbol */
.plus-symbol {
    font-size: 40px;
    text-align: center;
    margin: auto;
}

/* Specific Kachel Styles */
.neue-veranstaltung-kachel, .neue-gruppenarbeit-kachel {
    border: 1px solid var(--lumo-contrast-20pct);
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

/* Line with Text */
.line-before {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
    margin-top: 15px;
    margin-right: -8px;
}

.line-after {
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 15px;
    margin-left: -8px;
}

.line-with-text {
    width: 100%;
    align-items: center;
}

/* Title Styles */
.veranstaltung-title {
    font-size: 28px;
}

/* Container Styles */
.veranstaltungen-container, .gruppenarbeiten-container {
    display: flex;
    flex-wrap: wrap;
}

.gruppen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.kachel-gruppen {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.teilnehmer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.profilbild {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}

.teilnehmer-name {
    font-size: 16px;
}

.termin-datum {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 0.8em;
}

.termin-notiz {
    text-align: center;
    margin-top: 6px;
}

.termin-zeit {
    font-size: 0.8em;
    text-align: right;
    margin-right: -5px;
    margin-top: 8px;
}